/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('https://victoria.mediaplanet.com/app/uploads/sites/45/2020/11/GettyImages-1205212219.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keep background fixed while scrolling */
}
h1{
    font-size: 40px;
    font-family: 'georgia';
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container1 {
    max-width: 600px;
    margin-bottom: 10px ;
    justify-content: center;
    margin-left: 450px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Header */
header {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    color: #333;
    padding: 20px 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 30px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
    padding: 15px;
}

p{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    font-size: 25px;
}

li{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text{
    font-size: 25px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 25px;
}

nav ul li a:hover {
    color: #0b870f; /* Hover color */
}

/* Sections */
.section {
    padding: 50px 0;
    text-align: center; /* Center align content */
}

.container .section {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-bottom: 30px;
    font-size: 25px; /* Font size for features section */
    font-family: Georgia, serif; /* Font style for features section */
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 30px;
    margin: 8px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    justify-content: center;
    font-family: 'georgia';
    font-size: 20px;
}

.btn:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 100px; /* Add margin top to make space for fixed header */
}

footer p {
    margin: 0;
}
 



