<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Attack Prediction Result</title>
    <link rel="stylesheet" href="/static/result.css">

</head>
<body>
    <div class="parent">
    <div class="container">
        <h1>HEART ATTACK PREDICTION RESULT</h1>
        <div class="result negative">
            <h2>Negative</h2>
            <p>Don't Worry <br>Your heart attack risk is assessed as low.</p>
            <p>However, It's important to maintain a healthy lifestyle and regular checkups to keep it that way.</p>
        </div>
    </div>
        <a href='index.html' class="btn">Back</a>
    </div>
</body>
</html>